# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [28]:
# Import your libraries:
import pandas as pd
from sklearn.datasets import load_diabetes
from sklearn.linear_model import Ridge, Lasso
from sklearn.linear_model import SGDRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [2]:
# Your code here:
diabetes_data = load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [6]:
# Your code here:
diabetes_data.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [10]:
# Your code here:
diabetes_data.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, T-Cells (a type of white blood cells)\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, thyroid stimulating hormone\n      - s5      ltg, lamotrigine\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

What are the variables in this dataset according to the description? List them in the markdown cell below

#### Predictive Variables:

- age
- sex
- body mass index
- average blood preassure
- s1 tc,  T Cells
- s2 tc,  ldl levels
- s3 hdl,  hdl levels
- s4 tch,  thyroid stimulating hormone
- s5 ltg, lamatrigine
- s6 glu, blood sugar levels
-

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [18]:
# Your code here:
diabetes = pd.DataFrame(diabetes_data.data, columns = diabetes_data.feature_names)
diabetes['target'] = diabetes_data.target
diabetes.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [29]:
columns_x = [a for a in list(diabetes.columns) if a != 'target']
X = diabetes[columns_x]
X.head()
y = diabetes['target']

In [47]:
X

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

Initialize the model in the variable `diabetes_model`

In [38]:
# Your code here:

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)
diabetes_model = LinearRegression()
diabetes_model = diabetes_model.fit(X_train, y_train)
y_pred = diabetes_model.predict(X_test)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [45]:
# Your code here:
print('diabetes_model.coef_: ', diabetes_model.coef_)
print('diabetes_model.intercept_: ', diabetes_model.intercept_)

diabetes_model.coef_:  [  -1.41251234 -218.97548866  487.03646362  345.47994317 -782.42091363
  532.83821773   11.06138553   63.53521331  706.76261853   98.28403997]
diabetes_model.intercept_:  150.91929840232544

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 

Refer to the resource in this [link](https://onlinecourses.science.psu.edu/stat501/node/297/) for more details and perform the t-tests for the model above. Additionally, interpret the results and list coefficients are significantly different from zero.


Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [51]:
# Your code here:
import statsmodels.formula.api as smf

d_ols = smf.ols('target ~ age + sex + bmi + bp + s1 + s2 + s3 + s4 + s5 + s6', data = diabetes).fit()
d_ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 target   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Tue, 04 May 2021   Prob (F-statistic):           3.83e-62
Time:                        15:12:12   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
age          -10.0122     59.749     -0.168      0.867    -127.448     107.424
sex         -239.8191     61.222     -3.917      0.000    -360.151    -119.488
bmi          519.8398     66.534      7.813      0.000     389.069     650.610
bp           324.3904     65.422      4.958      0.000     195.805     452.976
s1          -792.1842    416.684     -1.901      0.058   -1611.169      26.801
s2           476.7458    339.035      1.406      0.160    -189.621    1143.113
s3           101.0446    212.533      0.475      0.635    -316.685     518.774
s4           177.0642    161.476      1.097      0.273    -140.313     494.442
s5           751.2793    171.902      4.370      0.000     413.409    1089.150
s6            67.6254     65.984      1.025      0.306     -62.065     197.316
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

### T-test results = it seems like there is a 86% chance that the age, s1, s2, s3, s4, and s6 variables effect is produced by chance.

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [52]:
# Your code here:

auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [53]:
# Your code here:
auto.head(5)

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [57]:
# Your code here:
for column in auto.columns:
    print(column, auto[column].dtype)

mpg float64
cylinders int64
displacement float64
horse_power float64
weight int64
acceleration float64
model_year int64
car_name object

What is the newest model year and the oldest model year?

In [60]:
# Your code here:
print(f'min : {auto.model_year.min()}')
print(f'max : {auto.model_year.max()}')

min : 70
max : 82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [84]:
# Your code here:
auto.isnull().count()
auto.dropna(inplace = True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [85]:
# Your code here:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [87]:
# Import the necessary function
auto.drop(columns = 'car_name', axis = 1, inplace= True)

KeyError: "['car_name'] not found in axis"

In [88]:
# Your code here:
columns_x = [a for a in list(auto.columns) if a != 'mpg']
X = auto[columns_x]
X.head()
y = auto['mpg']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [89]:
columns_x

['cylinders',
 'displacement',
 'horse_power',
 'weight',
 'acceleration',
 'model_year']

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [90]:
# Your code here:
auto_model = LinearRegression()
auto_m = auto_model.fit(X_train, y_train)

Next, fit the model in the cell below.

In [92]:
# Your code here:
y_pred = auto_m.predict(X_test)
y_pred

array([25.7703605 , 26.90453881, 25.81154099, 31.92074356, 23.86894408,
       13.80980123, 25.16344952, 16.13915495, 26.64077317, 30.99917434,
       31.02034107, 24.53791795, 29.75861526, 33.37616434, 31.24722359,
       29.75663637, 25.25820077, 22.36965239, 12.7852542 , 23.70601851,
       11.88530502, 26.72009477, 20.21783609, 14.43067212, 25.90355298,
       25.12909278, 29.29521998, 34.65922456, 24.84821219, 30.85369468,
       27.0990147 , 25.06892758, 27.68246968, 34.17025417, 18.36231507,
       30.37172231, 22.82813172, 30.48946548, 13.87482617, 19.55632917,
       25.3843293 , 13.58719285, 30.45949376, 22.09587838, 25.89630597,
       20.21351298, 33.2735328 , 19.60795734, 21.52820051, 22.32746451,
        9.74934814, 29.21133285, 33.04102586, 29.43844456, 31.84111302,
       31.16748737, 21.42886384, 24.86570002, 32.28427422, 25.7169221 ,
       27.59394691, 29.85819554, 10.35841591, 25.94211548, 26.867297  ,
       15.9191985 , 27.2234776 , 26.54032138, 28.33005342, 26.68997337,
       33.33385536, 23.63873136, 30.70585787, 19.95063414, 25.89844748,
       31.76886919, 27.47042262, 26.28348256, 12.39800054])

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [93]:
# Import the necessary function:
from sklearn import metrics
import numpy as np

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [94]:
# Your code here:
print('MAE: ', metrics.mean_absolute_error(y_test, y_pred))
print('MSE: ', metrics.mean_squared_error(y_test, y_pred))
print('RMSE: ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R2: ', metrics.r2_score(y_test, y_pred) )

MAE:  2.9880574882762856
MSE:  17.783957925854487
RMSE:  4.21710302528341
R2:  0.7170464577060413

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [95]:
# Your code here:

X_train09, X_test09, y_train09, y_test09 = train_test_split(X,y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [98]:
# Your code here:
auto_model09 = LinearRegression()
auto_model09 = auto_model09.fit(X_train09, y_train09)
y_pred09 = auto_model09.predict(X_test09)

Compute the predicted values and r squared score for our new model and new sample data.

In [99]:
# Your code here:
print('MAE: ', metrics.mean_absolute_error(y_test09, y_pred09))
print('MSE: ', metrics.mean_squared_error(y_test09, y_pred09))
print('RMSE: ', np.sqrt(metrics.mean_squared_error(y_test09, y_pred09)))
print('R2: ', metrics.r2_score(y_test09, y_pred09) )

MAE:  2.1726594705433664
MSE:  7.654330580605399
RMSE:  2.7666460887879025
R2:  0.854983536457002

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

# Your code here:

### Yes, there is an improvement in the tests R2, the second test with the bigger training set increased by 14 points.

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [101]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [106]:
# Your code here:
RFE = RFE(auto_model09, n_features_to_select = 3)

TypeError: 'RFE' object is not callable

Fit the model and print the ranking

In [108]:
# Your code here:
RFE = RFE.fit(X_train09, y_train09)
RFE.ranking_

array([1, 2, 4, 3, 1, 1])

In [109]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [134]:
# Your code here:
auto_m2 = auto.drop(columns = ['horse_power', 'weight', 'displacement'], axis =1)
auto_m2

      mpg  cylinders  acceleration  model_year
0    18.0          8          12.0          70
1    15.0          8          11.5          70
2    18.0          8          11.0          70
3    16.0          8          12.0          70
4    17.0          8          10.5          70
..    ...        ...           ...         ...
393  27.0          4          15.6          82
394  44.0          4          24.6          82
395  32.0          4          11.6          82
396  28.0          4          18.6          82
397  31.0          4          19.4          82

[392 rows x 4 columns]

In [135]:
columns_x = [a for a in list(auto_m2.columns) if a != 'mpg']
X = auto_m2[columns_x]
X.head()
y = auto_m2['mpg']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [136]:
X.head()

   cylinders  acceleration  model_year
0          8          12.0          70
1          8          11.5          70
2          8          11.0          70
3          8          12.0          70
4          8          10.5          70

In [137]:
auto_model = LinearRegression()
auto_m = auto_model.fit(X_train, y_train)

In [138]:
y_pred = auto_m.predict(X_test)
y_pred

array([19.84464006, 11.3633317 , 17.88246746, 18.39076658, 25.54521253,
       15.01354531, 15.01354531, 21.29851353, 31.85658162, 28.2467458 ,
       26.0441937 , 13.53637695, 12.13685821, 21.33733834, 28.98610648,
       15.02131027, 26.15290316, 21.36063323, 21.9788605 , 31.86434658,
       26.32339801, 14.29437354, 32.52450465, 31.09858503, 14.30990346,
       26.11407835, 28.94883467, 30.34680042, 13.59073168, 11.37886162,
       20.57157679, 25.36384673, 23.45913485, 15.02907524, 29.66179447,
       14.3021385 , 28.25451077, 21.99283743, 29.72391417, 29.68198337,
       26.06748858, 31.81154484, 31.11722094, 24.70679465, 31.17312866,
       31.84881665, 27.49806717, 28.25916974, 27.47477229, 13.5674368 ,
       31.10169102, 29.65402951, 13.53637695, 21.32957338, 12.85602998,
       30.4104731 , 23.89444333, 26.78666036, 17.16640166, 25.4725562 ,
       11.37109666, 29.64781754, 32.52450465, 17.88867942, 14.32543338,
       27.48253725, 31.19952953, 17.67935977, 22.00526137, 15.72495213,
       13.53637695, 30.3700953 , 25.4104365 , 28.20481501, 20.59487168,
       25.33278688, 31.19797654, 16.53730344, 25.35608177])

In [139]:
print('MAE: ', metrics.mean_absolute_error(y_test, y_pred))
print('MSE: ', metrics.mean_squared_error(y_test, y_pred))
print('RMSE: ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('R2: ', metrics.r2_score(y_test, y_pred) )

MAE:  2.999825790109031
MSE:  15.403070365726341
RMSE:  3.9246745553900824
R2:  0.6890773067980827